---
---
li.logo {
    height: 180px;
    padding: 0px 30px !important;
    img {
        margin-top: 15px;
        // padding: 0px 30px;
    }
}

li.logo:hover, li.search {
    background-color: transparent !important;
}

header, main, footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0; 
  } 
}



.search-wrapper{
    i{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}

#search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    padding: 0 45px 0 15px;
    border: 0;
}