<header>
    <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo">
            <a href="{{ site.url }}" class="brand-logo"><img src="{{ "/images/logo.png" | prepend: site.baseurl }}" alt="Custom Items Logo"></a>
        </li>
       <!--  <li class="search">
            <div class="search-wrapper card">
                <input id="search" disabled value="Not yet implemented"><i class="material-icons">search</i>
                <div class="search-results"></div>
            </div>
        </li> -->
        <li class="bold">
            <a href="{{ "documentation/" | prepend: site.url }}">Documentation</a>
        </li>
        <li class="bold">
            <a href="{{ "about/" | prepend: site.url }}">About</a>
        </li>
    </ul>
</header>
