 <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="{{ site.url }}" class="brand-logo"><img src="{{ " /images/logo.png " | prepend: site.baseurl }}" alt="Custom Items Logo"></a>
            <ul class="right hide-on-med-and-down">
                <li class="bold">
                    <a href="{{ " /documentation/ " | prepend: site.url }}">Documentation</a>
                </li>
                <li class="bold">
                    <a href="{{ " /about/ " | prepend: site.url }}">About</a>
                </li>
            </ul>
        </div>
    </nav>
</div>