---
layout: default
---
<div class="col s12 m8 l10">
    <br />
    <br />
    {{ content }}
</div>
<div class="col hide-on-small-only m4 l2">
    <ul id="markdown-toc" class="section table-of-contents pinned">
        <li><a name="readme" href="#readme">Read Me</a></li>
        <li><a name="calculations" href="#calculations"> Calculations </a></li>
        <li><a name="custom_config" href="#custom_config"> Custom Configuration Files </a></li>
        <li><a name="armor" href="#armor"> Armor (Armour) </a>

        </li>
        <li><a name="blocks" href="#blocks"> Blocks </a></li>
        <li><a name="chest_blocks" href="#chest_blocks"> Chest Blocks </a></li>
        <li><a name="creative_tabs" href="#creative_tabs"> Creative Tabs </a></li>
        <li><a name="crops" href="#crops"> Crops </a></li>
        <li><a name="fluids" href="#fluids"> Fluids </a></li>
        <li><a name="foods" href="#foods"> Foods </a></li>
        <li><a name="items" href="#items"> Items </a></li>
        <li><a name="tools" href="#tools"> Tools </a>

        </li>
        <li><a name="change_existing_properties" href="#change_existing_properties"> Changing Existing Properties </a>

        </li>
        <li><a name="modify_drops" href="#modify_drops"> Modify Drops </a>

        </li>
        <li><a name="ore_generation" href="#ore_generation"> Ore Generation </a></li>
    </ul>
</div>
